/* 
블럭 레벨 요소
1. 혼자 한줄 다 차지한다.
2. 크기를 조절해서 위로 올라갈 공간이 충분한것처럼 보이나, 올라가지 않는다.
3. 크기 조절은 가능하다.(width, hight)

인라인 레벨 요소
1. 콘텐츠 크기만큼만 크기가 고정된다.
2. 크기 조절이 안된다.
3. 공간이 충분하면 위로 올라온다.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.div {
  border: 1px solid #000;
}

.div-box {
  width: 100px;
}

span {
  display: inline-block;
  width: 100vw;
  height: 50vh;
  padding: 5px;
}

h1 {
  width: 120px;
}

/* 
  vw, vh (뷰포트기준 단위) : 뷰의 크기에 따라 비율로 설정 단위
  % : 부모요소의 크기에 따라 비율로 설정 단위 */

.div_parent {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px auto;
}

.div_child {
  border: 1px solid rgb(209, 75, 75);
  width: 50vw;
  min-width: 400px;
}

.div-margin {
  margin: 20px;
  background-color: rgb(255, 112, 112);
  border-radius: 10px;
  
/* 수평거리, 수직거리, 흐림정도, 번짐정도, 색상, 그림자 방향 */
  box-shadow: 3px 3px 4px 4px #f3bebe;
}

.div5 {
  margin: 40px 20px;
}