@keyframes moveUpDown {
  /* from은 시작하는 지점, to는 끝나는 지점 */
  from {
    transform: skew(0);

  }
  to {
    transform: skew(45deg, 45deg);

  }
}

.ball {
  width: 50px;
  height: 50px;
  background-color: peru;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  /* 요소를 이동 */
  /* transform: translate(200px, 300px); */

  /* scale() : 요소를 확대 */
  /* transform: scale(2, 2); */

  /* rotate() : 요소를 회전. 단위 주의 */
  /* transform: rotate(45deg); */

  /* skew() : 요소를 비틀기 */
  /* transform: skew(45deg, 20deg); */
  
  /* 애니메이션 효과 */
  animation: moveUpDown 0.5s infinite;
}