body {
  background-color: rgb(201, 230, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-list {

  background-color: gray;
}

.list {
  box-sizing: content-box;
  padding: 10px 50px;
  font-size: 30px;
  color: #000;
}

.main-img {
  
}


.container {
  display: flex; /* 자식 요소들을 가로로 나란히 정렬 */
  align-items: top; /* (선택사항) 세로축 기준으로 가운데 정렬 */
}
.nametag {
  margin: 0 10px;
  display: inline-block;
  background-color: #000;
  color: white;
  width: 100px;
  height: 100px;
}
.detail {
  color: #000;
  background-color: #ffffff;
  width: 100px;
  height: 6em;
}

