* {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
}
.div {
  border: 1px solid rgb(153, 152, 152);
  width: 50vw;
}
.div_head {
  background-color: #0f0f0f;
  margin-top: 10px;
}

.head_top {
  color: white;
  padding: 10px;
}
.notion {
  color: blanchedalmond;
  font-size: 0.9em;
  margin: 0px 15px 10px;
}

.head_chk {
  color: white;
  padding: 5px;
  margin-left: 10px;
}

.div_list {
  border-style: solid;
  text-align: center;
  border-top: none;
}
.list_head {
  color: #c40202;
  padding: 20px;
  line-height: 10px;
}
.normal {
  padding: 20px;
  font-weight: 900;
  line-height: 30px;
}

.list_bold {
  color: #0000ff;
}

.time {
  margin-bottom: 20px;
}