.main {
  border: 1px solid #000;

  position: relative;
}

.position {
  border: 1px solid #000;
  width: 150px;
  height: 150px;
  position: absolute;
}

.position1 {
  top: 5vh;
  left: 4vw;
}
.position2 {
  top: 10vh;
  right: 9vw;
}
.position3 {
  left: 6vw;
  bottom: 5vh;
}